@font-face {
    font-family: guardians;
    src: url("../fonts/Guardians.ttf");
}

body {
    background: url(../img/bg.jpg);
    font: white;
}

.content {
    background-color: purple;
    height: 650px;
}

#startButton {
    width: 500px;
    margin-top: 50px;
    font-size: 40px;
}

#playAgain {
    color: red;
    margin-top: 25px;
}

.heading {
    font-family: guardians;
    font-size: 40px;
    width: 50%;
    margin: 0 auto;
    background-color: purple;
    color: white;
    margin-bottom: 10px;
}

.col-md-8 {
    /*border: 2px solid red;*/
    height: 600px;
    text-align: center;
}

.timer {
    font-size: 25px;
    color: yellow;
    background-color: purple;
    width: 50%;
    margin: 0 auto;
}

.question {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: yellow;
    /*background-color: purple;*/
    margin-top: 10px;
    margin: 0 auto;
    width: 80%;
    background-color: purple;
}

.question p {
    padding-top: 100px;
}


.choices {
    width: 40%;
    margin: 0 auto;
    /*//border: 2px solid red;*/
}

.options {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid red;
    color: black;
    background-color: white;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}

.question img {
    height: 350px;
    width: 400px;
}
