.col-md-8 {
    border: 2px solid red;
    height: 500px;
    text-align: center;
}

.choices {
    width: 30%;
    margin: 0 auto;
    /*//border: 2px solid red;*/
}

.options {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid red;
}

